<main class="main-container">
  <section class="img-left">
    <div class="box-card-front">
      <img class="cardLogo" [src]="cardLogo" alt="logo" />
      <div class="box-data">
        <p>{{ formatNumber(dataUser.number) }}</p>
        <div class="align-data">
          <span class="spanName">{{ dataUser.name }}</span>
          <span>{{ dataUser.monthDate }}/{{ dataUser.yearDate }}</span>
        </div>
      </div>
    </div>
    <div class="box-card-back">
      <p>{{ dataUser.cvc }}</p>
    </div>
  </section>

  <section></section>

  <section class="form-right">
    <form [formGroup]="form" (ngSubmit)="submeterForm()">
      <div class="box-input">
        <label for="name" class="label">cardholder name</label>
        <input
          id="name"
          type="text"
          placeholder="e.g Jane Appleseed"
          formControlName="name"
          (keyup)="fcDataCard($event, 'name')"
          minlength="15"
          maxlength="25"
        />
        <div class="msg-alert" *ngIf="fnName.errors">
          <p *ngIf="fnName.errors.required && fnName.touched">
            Cant't be blank
          </p>
          <p *ngIf="fnName.errors.minlength">15 characters minimum</p>
          <p *ngIf="fnName.errors.maxlength">25 characters maximum</p>
        </div>
        <!-- <div
          class="msg-alert"
          *ngIf="form.get('name')?.errors && form.get('name')?.touched"
        >
          Cant't be blank
        </div> -->
      </div>
      <div class="box-input">
        <label for="number" class="label">card number</label>
        <input
          id="number"
          type="text"
          placeholder="e.g 1234 5678 9123 0000"
          formControlName="number"
          (keyup)="fcDataCard($event, 'number')"
          minlength="16"
          maxlength="16"
        />
        <!-- <div
          class="msg-alert"
          *ngIf="!fnCardNumber.pristine && fnCardNumber.errors"
        >
          <p
            *ngIf="fnCardNumber.errors.required && fnCardNumber.errors?.touched"
          >
            Cant't be blank
          </p>
          <!-- <p *ngIf="fnCardNumber.errors.numInvalid">numero invalido</p> -->
        <!-- <p *ngIf="this.alert.numberInvalid">Wrong format, numbers only</p> -->

        <!-- <p *ngIf="number.errors.minlength || number.errors.maxlength">
            this field needs to have 16 numbers
          </p>
          <p *ngIf="number.errors.maxlength">16 characters maximum</p> -->
        <!-- </div> -->
        <div class="msg-alert">
          <p *ngIf="fnCardNumber.errors && fnCardNumber.touched">
            Cant't be blank
          </p>
          <p *ngIf="fnCardNumber.errors?.minlength && fnCardNumber?.touched">
            This field needs to have 16 numbers
          </p>
          <p *ngIf="this.alert.numberInvalid">Wrong format, numbers only</p>
        </div>

        <!-- <div *ngIf="form.errors?.['maxlength']">
          At least 16 characters minimum.
        </div> -->
        <!-- <div class="msg-alert" *ngIf="numberInvalid">
          This field must have 16 numbers
        </div> -->
      </div>
      <div class="box-input box-date">
        <div class="left">
          <label for="month" class="label">exp. date (mm/yy)</label>
          <div>
            <input
              id="month"
              type="text"
              placeholder="MM"
              formControlName="monthDate"
              (keyup)="fcDataCard($event, 'month')"
              minlength="2"
              maxlength="2"
            />
            <input
              type="text"
              placeholder="YY"
              formControlName="yearDate"
              (keyup)="fcDataCard($event, 'year')"
              minlength="2"
              maxlength="2"
            />
          </div>
          <div class="msg-alert">
            <p
              *ngIf="
                (fnMonthDate.errors && fnMonthDate.touched) ||
                (fnYearDate.errors && fnYearDate.touched)
              "
            >
              Cant't be blankf
            </p>
            <!-- <p *ngIf="this.alert.monthYearInvalid">Cant't be blank</p> -->
          </div>
        </div>
        <div class="right">
          <label for="cvc" class="label">cvc</label>
          <input
            id="cvc"
            type="text"
            placeholder="e.g 123"
            formControlName="cvc"
            (keyup)="fcDataCard($event, 'cvc')"
            minlength="3"
            maxlength="3"
          />
          <div class="msg-alert">
            <p *ngIf="fnCvc.errors && fnCvc.touched">Cant't be blank</p>
          </div>
        </div>
      </div>
      <div class="box-input">
        <button
          [disabled]="!form.valid"
          [ngClass]="!form.valid ? 'noValidForm' : ''"
          type="submit"
        >
          Confirm
        </button>
      </div>
    </form>
  </section>
  <div>{{ form.value | json }}</div>
  <div>{{ form.valid | json }}</div>
</main>
<!-- 
  LINKS: https://medium.com/manacespereira/angular-ractiveforms-valida%C3%A7%C3%B5es-customizadas-com-formul%C3%A1rios-reativos-no-angular-6-3a3338f9add9 
-->
