<main class="main-container">
  <section class="img-left">
    <img [src]="bgLeft" alt="background img" />
    <div class="box-card-front">
      <img class="cardLogo" [src]="cardLogo" alt="logo" />
      <!-- <img [src]="cardFront" alt="front card" /> -->
      <div class="box-data">
        <input type="text" [value]="numberCard" disabled />
        <div class="align-data">
          <span>{{ nameCard }}</span>
          <span>{{ monthDateCard }}/{{ yearDateCard }}</span>
        </div>
      </div>
    </div>
    <div class="box-card-back">
      <input type="text" [value]="cvcCard" desabled />
    </div>
  </section>
  <section class="form-right">
    <form>
      <div class="box-input">
        <p>cardholder name</p>
        <input type="text" placeholder="e.g Jane Appleseed" />
        <p [ngClass]="msgAlertInput ? 'msg-alert' : ''"></p>
      </div>
      <div class="box-input">
        <p>card number</p>
        <input type="number" placeholder="e.g 123 5678 9123 0000" />
        <p [ngClass]="msgAlertInput ? 'msg-alert' : ''"></p>
      </div>
      <div class="box-input box-date">
        <div class="left">
          <p>exp. date (mm/yy)</p>
          <div>
            <input type="text" placeholder="MM" />
            <input type="text" placeholder="YY" />
          </div>
        </div>
        <div>
          <p>cvc</p>
          <input type="text" placeholder="e.g 123" />
        </div>
        <!-- <p [ngClass]="msgAlertInput ? 'msg-alert' : ''"></p> -->
      </div>
      <div class="box-input">
        <input type="button" value="Confirm" />
      </div>
    </form>
  </section>
</main>
