.main-container {
  max-height: 1000px;
  position: relative;
  display: grid;
  grid-template-columns: 30% 20% 50%;
}

.img-left {
  height: 100vh;
  position: relative;
  background: url(/assets/images/bg-main-desktop.png);
  background-repeat: no-repeat;
}

.form-right {
  display: flex;
  align-items: center;
  height: 100%;
}

.form-right form {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-input input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--light);
  font-size: 18px;
}

.box-input input::placeholder {
  color: var(--dark);
}

.label {
  text-transform: uppercase;
  letter-spacing: 0.03cm;
  margin-bottom: 5px;
}

.box-date {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.box-date .left > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.box-input input[type="button"] {
  background-color: var(--veryDark);
  border: none;
  padding: 15px 23px;
  color: var(--white);
}

.box-card-front,
.box-card-back {
  position: absolute;
  letter-spacing: 0.05cm;
}

.box-card-front {
  background: url(/assets/images/bg-card-front.png);
  top: 15%;
  right: -80px;
}

.box-card-front .cardLogo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.box-card-front .box-data {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.box-card-front .box-data p,
.box-card-back p {
  font-size: 2em;
  color: var(--white);
}

.box-card-front .box-data .align-data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
}

.box-data .align-data .spanName {
  max-width: 80%;
  overflow: hidden;
}

.box-card-back {
  background: url(/assets/images/bg-card-back.png);
  bottom: 15%;
  right: -170px;
}

.box-card-back p {
  font-size: 1em;
  position: absolute;
  top: 45%;
  right: 55px;
}

.box-card-back,
.box-card-front {
  width: 445px;
  height: 245px;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.hidden-msg-alert {
  display: none;
}

.msg-alert {
  display: block;
  color: var(--red);
  font-size: .8em;
  margin-top: 5px;
  font-weight: 500;
}